<h1>Signup</h1>

<form class="session">
  <fieldset>
    <label for="email">email</label>
    <span ng-repeat="error in error_user.email">* {{error}}</span>
    <input type="text" id="email" ng-model="email">

    <label for="password">password</label>
    <span ng-repeat="error in error_user.password">* {{error}}</span>
    <input type="password" id="password" ng-model="password">

    <label for="password_confirmation">confirm password</label>
    <span ng-repeat="error in error_user.password_confirmation">* {{error}}</span>
    <input type="password" id="password_confirmation" ng-model="password_confirmation">
    
    <input type="button" ng-click="signup(email, password, password_confirmation)" class="btn btn-large btn-primary" value="sign up">
  </fieldset>
</form>

<p style="float: right;">if you want to become admin type for password <strong>adminadmin</strong></p>